
.dashboard-div {
  margin-left: 12%;
  padding-top: 20px;
  width: 68%;
  display: grid;
  grid-template-columns: 270px 1fr;
  font-family: 'Franklin Gothic Medium', 'Arial Wide', Arial, sans-serif;
}

.dashboard-div > aside {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 150px);
}

.dashboard-div > aside > h1 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 5px;
  width: 260px;
  color: rgb(116,115,120);
}

.dashboard-div > aside > ul {
  width: 260px;
  padding: 0px;
  height: 100%;
  border: none;
  margin-top: 15px;
  position: relative;
}

.dashboard-div > aside > ul > li {
  box-shadow: 0 0 3px rgb(49,49,49);
  position: relative;
  list-style: none;
  border-bottom: 0px solid rgb(116,115,120);
  height: 55px;
  display: flex;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 55px;
  width: 260px;
  background-color: white;
  text-decoration: none;
  color: white;
  font-weight: 800;
  cursor: pointer;
  margin: 1px;
  border-radius: 1px;
}

.dashboard-div > aside > ul > li.complete {
  background-color: rgb(163, 244, 145);
  box-shadow: inset 0 0 1px rgb(22, 48, 14);
}

.icon-wrapper > .icon {
  background: radial-gradient( #88cc78, #98e687);
  font-size: 18px;
  font-weight: 100;
}

.dashboard-div > aside > ul > li:hover {
  /* box-shadow: 0 0 2px rgb(49, 15, 15); */
  color: rgb(55, 40, 150);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 3px rgb( 215, 249, 215),  2px 2px 6px rgb(49, 15, 15);
  left: -7px;
  top: -1px;
  border-radius: 3px;
  padding-right: 4px;
  padding-top: 1px;
  margin-bottom: -1px;
}

.dashboard-div > aside > ul > li.incomplete {
  background-color: rgba(252, 188, 188);
  box-shadow: inset 0 0 1px rgb(49, 15, 15);
}

.dashboard-div > aside > ul > li.incomplete:hover {
  background-color: rgba(252, 188, 188);
  box-shadow: inset 0 0 3px rgb( 215, 249, 215),  2px 2px 6px rgb(49, 15, 15);
  left: -7px;
  top: -1px;
  border-radius: 3px;
  padding-right: 4px;
  padding-top: 1px;
  margin-bottom: -1px;
}

@keyframes shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg) translateY(-1px); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg) translateY(1px); }
  100% { transform: rotate(0deg); }
}

li.incomplete > .icon-wrapper > .icon {
  background: radial-gradient( #f29191, #d96c6c);
  box-shadow: inset 0 0 1px rgb(49, 15, 15);
  animation-name: shaking;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.dashboard-div > aside > ul > li.selected-var {
  color: rgb(55, 40, 150);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 3px rgb( 215, 249, 215),  2px 2px 6px rgb(49, 15, 15);
  left: -12px;
  top: -2px;
  border-radius: 3px;
  /* padding-left: -10px; */
  padding-right: 8px;
  padding-top: 3px;
  margin-bottom: 2px;
}
.dashboard-div > aside > ul > li.selected-var:hover {
  color: rgb(55, 40, 150);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 3px rgb( 215, 249, 215),  2px 2px 6px rgb(49, 15, 15);
  left: -15px;
  top: -3px;
  border-radius: 3px;
  padding-top: 4px;
  padding-right: 10px;
  margin-bottom: 1px;
}

.dashboard-div > aside > ul > li.selected-var > div > div.icon {
  border: none;
  box-shadow: inset 0 0 3px rgb( 215, 249, 215),   1px 1px 4px rgb(49, 15, 15);
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-div > aside > ul > li > div {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 260px;
}

.dashboard-div > aside > ul > li > div > div {
  margin-right: 10px;
}

.dashboard-div > aside > ul > li > div > div.icon {
  border: none;
  box-shadow: 0 0 3px rgb(49,49,49);
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-div > aside > ul > li > div > div.name {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboard-div > main {
  padding-top: 44px;
  padding-left: 33px;
  position: relative;
  z-index: 5;
}

.toggle-entry-form {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(49,49,49);
  background-color: white;
  color: rgb(148,150,159);
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.toggle-entry-form > button {
  position: relative;
  border: none;
  box-shadow: 0 0 3px rgb(49,49,49);
  border-radius: 5px;
  background-color: rgb(53,133,247);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Wide', Arial, sans-serif;
  font-weight: 900;
  font-size: 20px;
  height: 40px;
  width: 100%;
  cursor: pointer;
}

.toggle-entry-form > button:hover {
  background-color: rgb(10, 109, 247);
  transition: 0.3s;
}

.toggle-entry-form > :nth-child(2) {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 18px;
}

.correlation-preview {
  position: relative;
  top: 40px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 4px rgb(49,49,49);
  background-color: rgb(226, 253, 255);
  color: rgb(73, 121, 255);
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.correlation-preview > h1 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
}

.correlation-preview > .correlation-info > h2 {
  font-size: 30px;
  text-align: center;
}

.correlation-preview > .correlation-info > p {
  font-size: 25px;
  text-align: center;
  color: black;
  padding: 10px;
}

.correlation-preview > h3 {
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.correlation-preview > h3 > p {
  padding: 10px;
  font-size: 15px;
  line-height: 1.3;
}

.droppable-graph-box {
  width: 700px;
  height: 400px;
}

.droppable-graph-box > ul.tab-headers {
  padding-left: 40px;
}

.droppable-graph-box > ul.tab-headers > h2 {
  display: inline-block;
  padding-right: 20px;
  border: 1px solid rgb(73, 121, 255);
  border-bottom: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 5px 10px;
}

.droppable-graph-box > ul.tab-headers > h2.selected-tab {
  box-shadow: 0 3px 0px rgb(226, 253, 255);
}

.droppable-graph-box > .tab-one, .droppable-graph-box > div.tab-two {
  width: 100%;
  border-top: 1px solid rgb(73, 121, 255);
  border-top-left-radius: 0;
}

.droppable-graph-box div.graph-container {
  margin: 20px 40px
}