
.dashboard-div {
  margin-left: 6%;
  padding-top: 20px;
  width: 90%;
  display: grid;
  grid-template-columns: 270px 1fr;
  font-family: 'Whitney';
}

aside {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

aside > h1 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 5px;
  width: 260px;
  color: rgb(116,115,120);
}

aside > ul {
  margin-top: 15px;
  position: relative;
  border: 1px solid #ddd;  
  border-radius: 3px;
  /* overflow: hidden; */
  background: #fff;
  box-shadow: 0px 4px 4px #0000001f;
  max-height: 614px;
  overflow-y: scroll;
}

aside > ul > li {
  /* box-shadow: 0 0 3px rgb(49,49,49); */
  position: relative;
  list-style: none;
  /* border-bottom: 0px solid rgb(116,115,120); */
  border-bottom: 1px solid #ddd;
  height: 55px;
  display: flex;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 55px;
  width: 260px;
  /* background-color: white; */
  text-decoration: none;
  /* color: white; */
  font-weight: 800;
  cursor: pointer;
  margin: 1px;
  border-radius: 1px;
}

aside > ul > li:nth-child(2n){
  background-color: #f7f7f7;
}

aside > ul > li.complete {
  /* background-color: rgb(163, 244, 145); */
  /* box-shadow: inset 0 0 1px rgb(22, 48, 14); */
  color: #035946;
}

.icon-wrapper > .icon {
  transform: scale(0.8);
  /* background: radial-gradient( #88cc78, #98e687); */
  /* background:  radial-gradient(#02D667, #10ff07); */
  background: radial-gradient(#38ff31,#02D667);
  box-shadow: 0px 0px 4px #10ff07 , inset 0 0px 16px rgb(44, 182, 113);
  font-size: 18px;
  font-weight: 100;
}

aside > ul > li:hover {
  /* box-shadow: 0 0 2px rgb(49, 15, 15); */
  /* color: rgb(55, 40, 150); */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 3px rgb( 215, 249, 215),  2px 2px 6px rgb(49, 15, 15);
  left: -7px;
  top: -1px;
  border-radius: 3px;
  padding-right: 4px;
  padding-top: 1px;
  margin-bottom: -1px;
  background-color: #e3eef4;
}

aside > ul > li.incomplete {
  /* background-color: rgba(252, 188, 188);
  box-shadow: inset 0 0 1px rgb(49, 15, 15); */
  color: #594000;
}

aside > ul > li.incomplete:hover {
  /* background-color: rgba(252, 188, 188);
  box-shadow: inset 0 0 3px rgb( 215, 249, 215),  2px 2px 6px rgb(49, 15, 15);
  left: -7px;
  top: -1px;
  border-radius: 3px;
  padding-right: 4px;
  padding-top: 1px;
  margin-bottom: -1px; */
}

@keyframes shaking {
  0% { transform: rotate(0deg) scale(0.8); }
  25% { transform: rotate(5deg) translateY(-1px) scale(0.78125); }
  50% { transform: rotate(0deg) scale(0.8); }
  75% { transform: rotate(-5deg) translateY(1px) scale(0.78125); }
  100% { transform: rotate(0deg) scale(0.8); }
}

li.incomplete .icon-wrapper > .icon {
  background: radial-gradient( #fb5c74, #fa243b/*#f29191, #d96c6c*/);
  color: #fff;
  /* box-shadow: inset 0 0 1px rgb(49, 15, 15); */
  animation-name: shaking;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

aside > ul > li.selected-var aside > ul > li > .selected{
  /* color: rgb(55, 40, 150); */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 3px rgb( 215, 249, 215),  2px 2px 6px rgb(49, 15, 15);
  left: -12px;
  top: -2px;
  border-radius: 3px;
  padding-right: 8px;
  padding-top: 3px;
  margin-bottom: 2px;
  background: #acd4e5;
}

aside > ul > li.selected-var:hover {
  /* color: rgb(55, 40, 150); */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 3px rgb( 215, 249, 215),  2px 2px 6px rgb(49, 15, 15);
  left: -15px;
  top: -3px;
  border-radius: 3px;
  padding-top: 4px;
  padding-right: 10px;
  margin-bottom: 1px;
}

aside > ul > li.selected-var > .react-variable-icon > .icon {
  border: none;
  box-shadow: inset 0 0 3px rgb( 215, 249, 215),   1px 1px 4px rgb(49, 15, 15);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
}

aside > ul > li > .react-variable-icon {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 260px;
}

aside > ul > li > .react-variable-icon {
  margin-right: 10px;
}

aside > ul > li > .react-variable-icon > .icon {
  border: none;
  box-shadow: 0 0 3px rgb(49,49,49);
  border-radius: 20px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside > ul > li .react-variable-icon > .name {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboard-div main {
  padding-top: 47px;
  padding-left: 33px;
  position: relative;
  z-index: 5;
}

.toggle-entry-form {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(49,49,49);
  background-color: white;
  color: rgb(148,150,159);
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.toggle-entry-form > button {
  position: relative;
  border: none;
  /* box-shadow: 0 0 3px rgb(49,49,49), inset 0 0 12px rgb(255, 255, 255) ; */
  box-shadow: 0 0 3px rgb(49,49,49), inset 0 0 1px #2a72dd ;
  border-radius: 5px;
  background-color: rgb(53,133,247);

  color: white;
  font-family: 'Whitney';
  font-weight: 900;
  font-size: 20px;
  height: 40px;
  width: 100%;
  cursor: pointer;
}

.toggle-entry-form > button:hover {
  background-color: rgb(10, 109, 247);
  transition: 0.3s;
}

.toggle-entry-form > :nth-child(2) {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 18px;
}

.correlation-preview {
  position: relative;
  top: 40px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 4px rgb(49,49,49), inset 0 0 20px rgb(226, 253, 255) ;
  /* background-color: rgb(226, 253, 255); */
  color: #035946;
  margin-right: 40px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.correlation-preview > h1 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
}

.selected-vs {
  color: rgb(5, 0, 200);
}

.dragged-vs {
  color: rgb(4, 200, 185);
}

.correlation-preview .drag-info {
  margin-top: 15px;
  background-color: #fff;
  color: rgb(73, 121, 255);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #0000001f;
}

.correlation-preview > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2% 5%;
}

.correlation-preview .correlation-info {
  font-size: 24px;
}

.correlation-preview .entries-info {
  background-color: #fff;
  color: rgb(73, 121, 255);
  width: 35%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #0000001f;
}

.correlation-preview .entries-info span {
  font-weight: 800;
}

.droppable-graph-box {
  width: 870px;
  height: 450px;
}

.droppable-graph-box > ul.tab-headers {
  padding-left: 40px;
  color: rgb(73, 121, 255);
}

.droppable-graph-box > ul.tab-headers > h2 {
  display: inline-block;
  padding-right: 20px;
  border: 1px solid #035946;
  border-bottom: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 5px 10px;
}

.droppable-graph-box > ul.tab-headers > h2.selected-tab {
  /* box-shadow: 0 3px 0px rgb(226, 253, 255); */
  box-shadow: 0 3px 0px rgb(255, 255, 255);
}

.droppable-graph-box > .tab-one, .droppable-graph-box > div.tab-two {
  width: 100%;
  border-top: 1px solid #035946;
  border-top-left-radius: 0;
}

.droppable-graph-box div.graph-container {
  margin: 20px 40px
}