.entry-form-div {
   margin: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: rgb(148,150,159);
}

.entry-form-div > h1 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.entry-form-div > form {
  width: 100%;
  margin-bottom: 5px;
}

.entry-form-div > form > select {
  width: 100%;
  border: 1px solid rgb(103, 103, 103);
  background-color: white;
  height: 40px;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  font-family: 'Whitney';
  padding-left: 10px;
  margin-bottom: 10px;
}

.entry-form-div > form > input[type="submit"] {
  width: 100%;
  border: none;
  background-color: rgb(53,133,247);
  color: white;
  height: 40px;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  font-weight: 900;
  font-family: 'Whitney Bold';
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.entry-form-div > form > input[type="submit"]:hover {
  background-color: rgb(10, 109, 247);
  transition: 0.3s;
  box-shadow: 0 0 3px rgb(84, 84, 84);
}

.entry-form-div > p:last-of-type {
  font-size: 12px;
}

.entry-form-div > p:last-of-type > a {
  text-decoration: none;
  color: rgb(53,133,247);
}


.entry-form-div > form > button {
  width: 100%;
  border: none;
  background-color: rgb(53,133,247);
  color: white;
  height: 40px;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  font-weight: 900;
  font-family: 'Whitney Bold';
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.entry-form-div > form > button:hover {
  background-color: rgb(10, 109, 247);
  transition: 0.3s;
  box-shadow: 0 0 3px rgb(84, 84, 84);
}

.entry-form-div > form > div {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.entry-form-div > form > div > button {
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  box-shadow: 0 0 3px black;
  background-color: white;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
}

input.range.react-log-input {
  height: 30px;
  outline: none;
  border: 1px solid rgb(155, 155, 155);
  background-color: rgb(230,230,230);
  border-radius: 5px;
  margin: 0 10px;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
  width: 60px;
}

div.incdec {
  flex-direction: column-reverse  !important;
}


div.incdec > div.button-slide{
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}

div.log.date{
  width: 140px;
}