/* .session {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 3;
} */

/* .signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.logo-wrapper {
  position: relative;
}

.logo {
  /* filter: drop-shadow(16px 16px 20px red) invert(75%); */
  filter: drop-shadow(0px 0px 40px rgba(5, 100, 200));
  transition: filter 0.5s linear;
  z-index: -5;
}
.logo:hover {
  filter: drop-shadow(0px 0px 70px rgba(5, 120, 240));
  /* filter: drop-shadow(0px 0px 140px rgba(5, 120, 240)) invert(100%); */
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  z-index: 3;
}

.login-form {
  /* height: 400px; */
  width: 420px;
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: inherit;
  background-color: rgba(255, 255, 255, 0.447);
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.11);
  transition: background-color 0.5s linear;
  transition: box-shadow 0.5s linear;
  padding-top: 18px;
  padding-bottom: 18px;
}

.login-form-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Wide', Arial, sans-serif;
  width: 300px;
  color: white;
  text-shadow: 0 0 8px #1528b6;
  margin-bottom: 15px;
}

.login-form-head > h1 {
  font-size: 30px;
  font-weight: 900;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-top: 40px;
}

.login-form-head > p {
  font-size: 16px;
  font-weight: 900;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-top: 5px;
  letter-spacing: 1px;
}

.login-form > form {
  
  display: flex;
  /* flex: 1 1 auto; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: inherit;
  margin-top: 10px;
}

.login-form:hover {
  background-color: rgba(255, 255, 255, 0.543);
  transition: 0.3s;
  box-shadow: 0px 0px 70px rgba(5, 100, 255);
}
.login-or-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: inherit;
  /* background-color: rgba(255, 255, 255, 0.91); */
  
}

.session-input {
  border: 1px solid #a7a7a7;
  border-radius: 3px;
  height: 30px;
  width: 250px;
  outline: none;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(255, 255, 255);
  font-weight: 900;
  color: rgb(45, 82, 233);
  margin-bottom: 10px;
}

.session-input:hover:not(:focus) {
  border: 1px solid rgb(99, 99, 99);
  transition: 0.3s;
}

.session-input:focus {
  border: 1px solid rgb(120, 238, 130);
  background-color: rgb(227, 255, 247);
}

.session-button {
  background-color: #fe4c81f6;
  width: 272px;
  height: 35px;
  border: 1px solid #ffb2c9f6;
  border-radius: 3px;
  color: white;
  margin-top: 10px;
  padding-top: 2px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.5px;
  display: inline-block;
  font-size: 16px;
  font-weight: 900;
  z-index: 3;
  box-shadow: 0px 0px 70px rgba(5, 100, 255);
}

.session-button:hover {
  background-color: #fe2d3b;
  border: 1px solid rgb(255, 231, 231);
  box-shadow: 0px 0px 70px rgba(255, 0, 150);
  transition: 0.3s;
}

.redirect-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  height: 34px;
  width: 270px;
  background-color: rgba(5, 101, 255, 0.803);
  transition: background-color 0.3s linear;
  z-index: 3;
  border: 1px solid;
  border-radius: 3px;
  box-shadow: 0px 0px 7px rgba(5, 100, 255), inset 0px 0px 7px rgba(5, 100, 255);
  margin-top: 15px;
  margin-bottom: 55px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: white;
}

.redirect-link:hover {
  background-color: rgba(5, 43, 255, 0.94);
}
.redirect-link:a:link, a:visited  {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.brand {
  filter: color(255, 255, 255);
  filter: drop-shadow(0px 0px 50px rgb(230, 230, 230));
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.036);
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.036);
  position: fixed;
  bottom: 12%;
}

.error-message {
  display: none;
  position: absolute;
}