.session {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .redirect-text {
  display: flex;
  flex-direction: column;
  align-items: center;
} */