div.splash-div{
  background-image: url('../images/strange_space.jpeg');
  background-size: 100%;
  transform: scaleX(-1);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

div.splash-inner-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transform: scaleX(-1);
  top: 50%;
  margin-top: -170px;
}

div.splash-inner-div > img {
  width: 60%;
  height: auto;
  filter: drop-shadow(0px 0px 30px rgb(255, 255, 255));
  transition: filter 0.5s linear;
  z-index: 0;
  position: relative;
  left: -10px;
}

div.splash-inner-div > a {
  color: white;
  font-family: fantasy;
  font-weight: 900;
  letter-spacing: 5px;
  text-decoration: none;
  font-size: 30px;
  position: relative;
  top: -50px;
  left: 135px;
  z-index: 0;
  filter: drop-shadow(0px 0px 7px rgb(255, 255, 255));
  transition: filter 0.5s linear;
}
