.tutorial-div {
  margin: 8% auto;
}


.tutorial-div h1 {
  font-family: 'Kalam', cursive;
  font-size: 60px;
  width: 700px;
  text-align: center;
  margin: 20px auto;
}

.hidden {
  display: none;
}

#tutorial-arrow {
  position: relative;
  right: 30px;
}

.flash {
  display: inline-block;
  color: #fa243b;
  font-size: 30px;
  font-weight: 900;
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}