section.page.variable {
  position: absolute;
  top: 100px;
  left: 10%;
  border: none;
  font-family: 'Whitney';
  margin-left: 250px;
  padding-top: 75px;
  width: 67%;
}

section.page.variable > section.var-graph-holder {
  top: 40px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 4px rgb(49,49,49);
  background-color: rgb(226, 253, 255);
  color: rgb(73, 121, 255);
  margin: 40px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

section.page.variable > form:first-of-type {
  position: relative;
  margin: 30px 0;
  padding: 40px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 4px rgb(49,49,49);
  background-color: rgb(219, 240, 212);
  color: rgb(79,167,51);
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 10;
  font-size: 18px;
}

section.page.variable > form:first-of-type > * {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 3px;
  font: inherit;
  color: #286841;
}

section.page.variable > form:first-of-type > input[type="submit"],
section.logs-wrapper.react-logs-wrapper > .react-icon-button {
  box-sizing: border-box;
  height: 48px;
  padding: 10px;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 24px;
  background-color:#286841;
  vertical-align: middle;
  display: flex;
  align-self: center;
  justify-content: center;
  line-height: 24px;
  font-weight: 400;
  text-shadow: 0 0 3px #0000007f;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 #0000001f;
  opacity: 0.95;
  user-select: none;
  width: 100%;
}

section.page.variable > form:first-of-type > input.submit.hidden {
  display: none;
}

@keyframes remind-save {
  0% { background-color: #12be65; }
  50% { background-color: #09893b }
  100% { background-color: #12be65 }
}

section.page.variable > form:first-of-type > input.submit {
  /* background: linear-gradient(#12be65, #09893b, #12be65); */
  background-size: 200% 800%;
  animation: remind-save 2s ease infinite;
}

section.page.variable > form:first-of-type > input.submit:active {
  background: linear-gradient(#09893b, #11b05e);
}

section.logs-wrapper.react-logs-wrapper > .react-icon-button {
  background: linear-gradient(#0080ea, #0076e5);
}

section.logs-wrapper.react-logs-wrapper > .react-icon-button:active {
  background: linear-gradient(#0076e5, #0080ea);
}

section.page.variable > form:first-of-type > input[type="submit"]:hover, 
section.logs-wrapper.react-logs-wrapper > .react-icon-button:hover {
  opacity: 1;
}

section.page.variable > form:first-of-type > div {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

section.page.variable > form:first-of-type > h1 {
  font-weight: 600;
  font-size: 24px;
}

section.page.variable > form:first-of-type > div input[type="text"] {
  height: 40px;
  width: calc(100% - 22px);
  border: 1px solid rgb(162, 162, 162);
  border-radius: 5px;
  padding-left: 20px;
  box-shadow: inset 0 0 3px rgb(49,49,49);
  outline: none;
  font-size: 20px;
  margin-bottom: 30px;
}

section.page.variable > form:first-of-type input[type="text"]:hover:not(:focus) {
  border: 1px solid black;
}

section.page.variable > form:first-of-type input[type="text"]:focus {
  border: 1px solid rgb(79,167,51);
}

section.page.variable > form:first-of-type label {
  margin-top: 10px;
  margin-left: 5px;
  width: fit-content;
  cursor: pointer;
}

section.page.variable > form:first-of-type  label + input {
  height: 30px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
  outline: none;
  box-shadow: inset 0 0 4px rgb(48, 48, 48);
  margin-left: 30px;
  width: 200px;
}

section.page.variable > form:first-of-type span {
  color: rgb(255, 34, 34);
  font-weight: 700;
}

section.logs-wrapper.react-logs-wrapper > :first-child {
  margin-top: 20px;
  margin-bottom: 0px;
}

.hidden {
  display: none;
}

.delete_err {
  color: red;
  font-size: 18px;
  position: absolute;
  left: 150px;
  top: -8px;
}

ul.logs.react-logs {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  border-bottom: 1px solid #cfcfcf;
  max-height: 620px;
  overflow-y: scroll;
  box-shadow: inset 1px 2px #0000001f;
  position: relative;
  z-index: 10;
}

ul.logs.react-logs > div.react-log {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  /* border-radius: 5px; */
  border-top: 1px solid rgb(208, 208, 208);
}

ul.logs.react-logs > div.react-log:nth-child(2n + 1) {
  background-color: #e2f3dd;
}

ul.logs.react-logs > div.react-log:nth-child(2n) {
  background-color: #e9f6e5;
}

ul.logs.react-logs > div.react-log:hover {
  background-color: rgb(173, 235, 152)
}

ul.logs.react-logs > div.react-log > div:first-of-type {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

ul.logs.react-logs > div.react-log > div{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
}


.react-logs-wrapper > .button.react-icon-button {
  width: 130px;
}

.button.react-icon-button {
  cursor: pointer;
}