.variables-index {
  width: 260px;
  position: relative;
  font-family: 'Whitney';
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 6%;
  margin-bottom: 50px;
}

.variables-index > h1 {
  font-size: 25px;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 5px;
  width: 260px;
  color: rgb(116,115,120);
}

.variables-index > ul {
  width: 260px;
  padding: 0px;
  height: 100%;
  border: 1px solid rgb(116,115,120);
  margin-top: 15px;
  position: relative;
}

.variables-index > ul > a.button.variable-button {
  text-decoration: none;
  position: relative;
  height: 40px;
  width: 180px;
  background-color: rgb(49,49,49);
  color: white;
  font-weight: 800;
  text-shadow: 0 0 0.3px rgb(49,49,49);
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 60px;
}

.variables-index > ul > a.button.variables-button:hover {
  background-color: rgb(116,115,120);
}

.variables-index > ul > li {
  position: relative;
  list-style: none;
  border-bottom: 1px solid rgb(116,115,120);
  height: 55px;
  display: flex;
}

.variables-index > ul > li:first-of-type {
  border-top: 1px solid rgb(116,115,120);
}

.variables-index > ul > li > div:last-of-type {
  position: absolute;
  right: 10px;
  top: 20px;
  cursor: pointer;
  font-weight: 800;
  color: rgb(205, 0, 0);
  z-index: 10;
}

.variables-index > ul > li > div:last-of-type:hover {
  color:rgb(255, 34, 34);
}

a.var-item-link {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 55px;
  width: 260px;
  background-color: white;
  text-decoration: none;
  color: rgb(29,96,139);
  font-weight: 800;
}

a.var-item-link:hover {
  background-color: rgb(231,243,254);
  transition: 0.3s;
}

a.var-item-link > div {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 260px;
}

a.var-item-link > div > div {
  margin-right: 10px;
}

a.var-item-link > div > div.icon {
  border: none;
  box-shadow: 0 0 3px rgb(49,49,49);
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.var-item-link > div > div.name {
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
